/* 共通部分 */
$separate_count: 12;
$fore_color: black;
$back_color: white;
$header_back_color: lightblue;

%default-color {
    color: $fore_color;
    background-color: $back_color;
}

%default-border {
    border-color: lightblue;
    border-width: 2px;
    border-style: solid;
    border-radius: 0.25rem;
}

body {
    @extend %default-color;

    font-size: 16px;
}

.btn,
.panel,
textarea,
input[type=text] {
    @extend %default-color, %default-border;

    border-radius: 0.25rem;
}

/* flex関連 */
.flex {
    display: flex;

    > * {
        margin: 5px;
    }

    > .grow,
    > .stretch {
        flex-grow: 1;
    }
    
    > .shrink,
    > .stretch {
        flex-shrink: 1;
    }

    > .static {
        flex-grow: 0;
        flex-shrink: 0;
    }

    @for $var from 1 to $separate_count {
        > .col-#{$var} {
            flex-basis: 100% * $var / $separate_count;
        }
    }

    > .half {
        flex-basis: 50%;
    }

    > .quoter {
        flex-basis: 25%;
    }
}

.flex-wrap {
    flex-wrap: wrap;
}

/* パディング・マージン設定 */
$pm-list: 0, 5, 10, 15, 20;
@each $var in $pm-list {
    .m-w#{$var} {
        margin-left: #{$var}px;
        margin-right: #{$var}px;
    }
    .m-h#{$var} {
        margin-top: #{$var}px;
        margin-bottom: #{$var}px;
    }
    .m-#{$var} {
        @extend .m-w#{$var}, .m-h#{$var};
    }
    .p-w#{$var} {
        padding-left: #{$var}px;
        padding-right: #{$var}px;
    }
    .p-h#{$var} {
        padding-top: #{$var}px;
        padding-bottom: #{$var}px;
    }
    .p-#{$var} {
        @extend .p-w#{$var}, .p-h#{$var};
    }
}

/* 上部パネル関連 */
.fixed-panel {
    @extend %default-color;

    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;

    .overflow-y-auto {
        overflow-y: auto;
    }
}

/* 選択タブ部分 */
.tabs {
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    > .tab-btn {
        @extend %default-color, %default-border;
        margin: auto 0;
        border-bottom: none;

        &.active {
            color: $back_color;
            background: $header_back_color;
        }
    }
}

/* 検索・設定部分 */
.setting-area {
    height: 100px;
}

/* 単語一覧部分 */
.word-list {
    padding: 0;
    margin-top: 170px;
}

.word-border {
    @extend %default-border, .m-h5, .m-w0 ;

    border-bottom-left-radius: 0; 
    border-bottom-right-radius: 0; 

    > .word-title {
        background-color: $header_back_color;
        padding: 2px;
    
        .text {
            font-size: 1.5em;
            margin-right: 5px;
        }

        .tag {
            background-color: $back_color;
            padding: 2px 5px;
            margin: 0px 2px;
            border-radius: 0.25rem;
            font-size: 0.75em;
        }
    }
}

.translation-border,
.content-border,
.variation-border {
    $border-color: lightslategrey;
    $border-width: 2px;

    border-color: $border-color;
    border-bottom-color: transparent;
    border-width: $border-width;
    border-bottom-width: 0px;
    border-style: solid;
    padding: 0;
    margin: 0;

    &:last-child {
        border-bottom-color: $border-color;
        border-bottom-width: $border-width;
    }

    > .title {
        background-color: lightgrey;
        padding: 2px 5px;
        margin: 0;
    }

    > .text {
        padding: 2px;
        margin: 0;
        border-left: 5px solid lightslategrey;
    }
}

.translation-top,
.variation-top,
.content-top {
    margin: 0;
    padding: 2px 5px;
    background-color: lightslategrey;
    color: $back_color;
}
